<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>{{curr_deck.name}} Deck</title>
</head>

<body>
  <div class="UI">
  <a href="{{url_for('index')}}"><h1 class="heading">Flashcard Trainer</h1></a>
  </div>
<div class="form">
<label >
    <form  method="POST">
      How many Cards?
      <input required='required' type="number" id="numCards" name="card_count" min="1" value=1
        max="{{ curr_deck.numCards }}">
      <button type="submit" onclick="save()">Start</button>
    </form>
  </label>
  </div>
    <script>
    const getValue = localStorage.getItem("numCards");
    console.log(getValue)
    if (getValue) {
      document.getElementById("numCards").value = getValue;
    }
    function save() {
      const setValue = document.getElementById("numCards").value
      localStorage.setItem("numCards", setValue);
    }
  </script>
    <div id="flashcards" class="flashcard-container">
    {% for card in cards %}
    <div class="flashcard" id={{card.front}}>
    <div class="card-inner">
      <div class = "card-front">
        {{card.front}}
      </div>
      <div class = "card-back">
        {{ card.back }}
      </div>

    </div>
    </div>
    {% endfor %}
  </div>
</body>