<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>{{curr_deck.name}} Deck</title>
</head>

<body>
  {% from 'macros.html' import card_count_form, card_count_script %}
  <div class="UI">
  <a href="{{url_for('index')}}"><h1 class="heading btn">Flashcard Trainer</h1></a>
  </div>
  {{ card_count_form(curr_deck) }}

<div id="flashcards" class="flashcard-container">
  {% for card in curr_deck.cards %}
    <div class="flashcard" id={{card.front}}>
      <div class = "card-front">
        {{card.front}} | {{ card.back }}
      </div>
    </div>
    {% endfor %}
  </div>
{{ card_count_script() }}

</body>