<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Flashcard Viewer</title>
</head>
<body>
  <h1 class="center">Flashcards</h1>
  <label>
    <form class="center" method = "POST">
        Current Deck = {{ currDeck.name}} <br>
        <!-- Uploading their own Deck, csv file seperated by comma-->
    </form>
  </label>
  <label> 
    <!-- Current Issue, Local Storage greater than uploaded csv, Fix: Reset to default when uploading a new Flashcard List
    -->
    <form class="center" method = "POST">
      How many Cards?
      <input  required='required' type="number" id = "numCards" name = "cardCount" min="1" value = 5  max="{{ currDeck.numCards }}">
      <button type="submit" onclick="save()">Start</button>
    </form>
  </label>
  <script>
    const getValue = localStorage.getItem("numCards");
    if(getValue){
      document.getElementById("numCards").value = getValue;
    }
    function save(){
      const setValue = document.getElementById("numCards").value
      localStorage.setItem("numCards", setValue);
    }
  </script>
  
  <div id="flashcards" class="flashcard-container">
    {% for card in cards %}
    <div class = "flashcard" id = {{card.front}}>   
    <div class = "flashcard-front" style="margin-bottom:1em;">{{card.front}}</div>
    <!-- On click make a function to change the button into the Answer or to "flip the card"-->
    <button onclick="alert('{{card.back}}')">Flip</button>
    </div>
    {% endfor %}
</div>
</body>
</html>